/*Estilos del header*/
header {
  display: $d-flex;
  justify-content: $jc-between;
  align-items: center;
  padding: map-get($padding, header);

  @include breakpoints(lg) {
    padding: 40px 20px;
  }

  @include breakpoints(xsm) {
    padding: 40px 10px;
  }
}
