.article-f2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;

  article .img-popular2 {
    width: 100%;
  }

  h2 {
    font-size: map-get($font-size, article-f2);
    line-height: map-get($line-height, popular);

    @include breakpoints(md) {
      font-size: 1.1rem;
      padding: 10px 0px 10px;
    }
  }

  .article-footer {
    margin-top: 20px;
  }

  @include breakpoints(xsm) {
    p {
      font-size: 14px;
    }
  }
}
