/*Estilo de la Sección all-article*/

.article-f3 {
  display: $d-flex;
  padding-bottom: 20px;

  .content-info {
    padding-left: 20px;
  }

  h2 {
    font-size: map-get($font-size, article-f3);
    padding-bottom: 10px;
  }
}
