nav {
  ul {
    display: $d-flex;
  }

  li {
    margin-left: 30px;

    @include breakpoints(xsm) {
      margin-left: 20px;
    }
  }

  a {
    text-decoration: none;
    color: map-get($color-elements, links);
    font-size: map-get($font-size, links);
    font-weight: bold;

    @include breakpoints(xsm) {
      font-size: 1rem;
    }
  }
}
