button {
  background-color: #5a98d0;
  border-radius: 10px;
  border-style: none;
  color: map-get($color-elements, button);
  padding: 15px 60px;

  @include breakpoints(xsm) {
    padding: 15px 90px;
  }
}