* {
  box-sizing: border-box;
}

body {
  font-family: map-get($font-family, body);
}

section {
  max-width: map-get($max-width, section);
  width: map-get($width, section);
  margin: auto;

  @include breakpoints(lg) {
    padding: 0px 20px 0px 20px;
  }
}

section h2 {
  color: map-get($color-elements, h2);
  font-weight: map-get($font-weight, h2);
  font-family: map-get($font-family, h2);
}

section h3 {
  color: map-get($color-elements, h3);
  font-weight: map-get($font-weight, h3);
  font-family: map-get($font-family, h3);
  font-size: map-get($font-size, h3);
  padding: map-get($padding, section-h3);
}

p {
  line-height: map-get($line-height, p);
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
}

.icons a {
  margin-left: 20px;
}
